<div class="section">
    <div class="title">
        Equipment List
    </div>
    
    <div class="search-nav">
        <div class="search-group">
            <input class="search-input" type="text" placeholder="Search">
        </div>

        <div class="create-group">
            <button mat-raised-button color="primary">Insert Product</button>
        </div>
    </div>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Brand</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Screw Driver</td>
            <td>Building Tools</td>
            <td>Bosch</td>
        </tr>
    </table>
</div>