// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$farming-primary: mat.define-palette(mat.$teal-palette, A400);
$farming-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$farming-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$farming-theme: mat.define-light-theme((
  color: (
    primary: $farming-primary,
    accent: $farming-accent,
    warn: $farming-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($farming-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body { height: 100%; background-color: rgb(243, 243, 243); }
body { margin: 0; font-family: 'Rubik', sans-serif !important; }

:root {
  --color-primary: #43C4AC;
  --color-secondary: #191645;
  --color-grey: #808080;

  --font-primary: 'Rubik', sans-serif;
}

// @mixin button {
//   padding: 10px 24px;
//   font-family: var(--font-primary);
//   font-size: 18px;
//   outline: none;
//   border: none;
//   transition: 0.2s all ease;
// }

// .button {
//   @include button();
// }

// .button-primary {
//   background-color: var(--color-primary);
//   color: #fff;

//   &:hover {
//     background-color: #5fe9d0;
//   }
// }

@media screen and (max-width: 600px) {
  html, body {
    font-size: 16px;
  }
  
  .section {
    width: 100% !important;
    margin: 0;
  }
}